{{!-- <div id="login-form">
  <h2>Log In</h2>
  <form action="/auth/login" method="POST">

    <label> Email
      <input type="email" name="email" placeholder="Your email" />
    </label>

    <label> Password
      <input type="password" name="password" placeholder="Your password" />
    </label>

    <button type="submit">Log In</button>


    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div> --}}
   <link rel="stylesheet" href="/stylesheets/style.css" />

<div class="center">

<form action="/auth/login" method="POST">
<div class="container">
        <div class="card">
            <a class="singup">Login</a>
            <div class="inputBox1">
                <input type="text" required="required" name="email">
                <span class="user">Email</span>
            </div>


            <div class="inputBox">
                <input type="password" required="required" name="password">
                <span>Password</span>
            </div>

            <button type="submit" class="enter">Login</button>

        </div>
    </div>
    </form>
    </div>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}