<link rel="stylesheet" href="/stylesheets/error.css">

<div>
<h1>Error!</h1>
<h2>There was an error on the server! Check the console!</h2>
<form action="/" method="get">
<button class="button">HOME PAGE</button></form>
</div>