<link rel="stylesheet" href="/stylesheets/index.css">
<div class="intro">
<h1>Welcome to reMeals!</h1>
<h3>Your perfect weekly meal planner. </h3>
<h6>Signup to join</h6>
</div>

<div class="clicks">
<button class="button"><a href="/auth/signup">SIGNUP</a></button>
<button class="button"><a href="/auth/login">LOGIN</a></button>
</div>