<link rel="stylesheet" href="/stylesheets/index.css">
<div class="intro">
<h1>Welcome to reMeals!</h1>
<h3>Your perfect weekly meal planner. </h3>
<h6>Signup to join</h6>
</div>

<div class="clicks">
    <form action="/auth/signup" method="get">
<button class="button">SIGNUP</button></form>
<form action="/auth/login" method="get">
<button class="button">LOGIN</button></form>
</div>