<link rel="stylesheet" href="/stylesheets/error.css">
<div>
<h1>404 Error</h1>
<h2>
Oh no! This route doesn't exist... Check if your routes are correct
</h2>

<form action="/" method="get">
<button class="button">HOME PAGE</button></form>
</div>