{{!-- <h1>Create recipe</h1>

<form action="/create-recipe" method="post" enctype="multipart/form-data">
  <label for="name">Recipe name:</label>
  <input type="text" name="name" id="name" />

  <label for="duration">Duration:</label>
  <input type="text" name="duration" id="duration" />

  <label for="ingredients">Ingredients</label>
  <input type="text" name="ingredients" id="ingredients" />

  <label for="preparation">Preparation</label>
  <textarea name="preparation" id="preparation" cols="30" rows="10"></textarea>

  <label for="image">Select an image for your recipe!</label>
  <input type="file" name="image" id="image" />

  <button type="submit">Create recipe</button>

</form>


 --}}
 <link rel="stylesheet" href="/stylesheets/create.css" />

<div class="center">

<form action="/create-recipe" method="POST" enctype="multipart/form-data">
<div class="container">
        <div class="card">
            <a class="singup"> Create a recipe:</a>
            <div class="inputBox1">
                <input type="text" name="name">
                <span class="user">Name:</span>
            </div>


            <div class="inputBox">
                <input type="text" name="duration">
                <span>Duration:</span>
            </div>

            <div class="inputBox">
                <input type="text"  name="ingredients">
                <span>Ingredients</span>
            </div>
            <div class="inputBox">
                <input type="text"  name="preparation">
                <span>Preparation:</span>
            </div>
            <div class="inputBox">
                <input type="file"  name="image">
                <span>Choose a file</span>
            </div>

            <button class="enter">Create Recipe</button>

        </div>
    </div>
    </div>
    </form>