<h1>Edit profile</h1>

<form action="/edit-profile" method="post" enctype="multipart/form-data">
  <label for="username">Username:</label>
  <input type="text" name="username" id="username" />

  <label for="password">Password:</label>
  <input type="password" name="password" id="password" />

  <label for="email">Email:</label>
  <input type="email" name="email" id="email" />

  <label for="image">Select an image for your profile!</label>
  <input type="file" name="image" id="image" />

  <button type="submit">Update profile</button>

</form>