<h1>My planner</h1>
<table>
    <thead>
    <tr>
        <td></td>
        <td> Monday</td>
        <td>Tuesday</td>
        <td>Wednesday</td>
        <td>Thursday</td>
        <td>Friday</td>
        <td>Saturday</td>
        <td>Sunday</td>
    </tr>
    </thead>
    <tr>
    <td>Lunch</td>
    </tr>
    <tr>
        <td>Dinner</td>
    </tr>

</table>