
<link rel="stylesheet" href="/stylesheets/planner.css">

{{!-- <h1>My Planner</h1>
<table>
    <thead>
    <tr>
        <td></td>
        <td> Monday</td>
        <td>Tuesday</td>
        <td>Wednesday</td>
        <td>Thursday</td>
        <td>Friday</td>
        <td>Saturday</td>
        <td>Sunday</td>
    </tr>
    </thead>
    <tr>
    <td>Lunch</td>
    </tr>
    <tr>
        <td>Dinner</td>
    </tr>

</table>
 --}}

<!--For Page-->
<div class="page">
    <!--Card-->
    <div class="card">
        <!--Card Header-->
        <div class="card-header">
            <p> <i class="fa fa-bars"></i> <i class="fa fa-calendar ml-4" aria-hidden="true"></i> <i class="fa fa-star ml-4" aria-hidden="true"></i> <span class="float-right"> <span class="mr-4 navTask">My Planner</span> <i class="fa fa-search" aria-hidden="true"></i> </span> </p>
        </div>
        <!--Card Body-->
        <div class="card-body">
            <p class="heading1"> <span class="today">Monday</span> 
            <p class="heading2"><span class="tomorrow">Tuesday</span> <span class="float-right headingright"></span></p>
            <p class="heading2"><span class="tomorrow">Wednesday</span> <span class="float-right headingright"></span></p>
            <p class="heading2"><span class="tomorrow">Tuesday</span> <span class="float-right headingright"></span></p>
            <p class="heading2"><span class="tomorrow">Thursday</span> <span class="float-right headingright"></span></p>
            <p class="heading2"><span class="tomorrow">Friday</span> <span class="float-right headingright"></span></p>
            <p class="heading2"><span class="tomorrow">Saturday</span> <span class="float-right headingright"></span></p>
            <p class="heading2"><span class="tomorrow">Sunday</span> <span class="float-right headingright"></span></p>
            
            <p class="task2 mt-4"><i class="fa fa-calendar mr-2" aria-hidden="true"></i> </p>
        </div>
        <div>
            <p class="heading1"> <span class="today">Lunch</span>
            <p class="heading1 card-body2"> <span class="today">Dinner</span>
        </div>
    </div>
</div>