<link rel="stylesheet" href="/stylesheets/recipes.css">
<div>
<h1>Recipes</h1>
<button><a href="/create-recipe">Create</a></a></button>
</div>
<div class="flexdiv">
{{#each recipes}}
<div class="card" style="width: 18rem; ">
  <img src="{{image}}" class="card-img-top" alt="..." style="width: 18rem; height:13rem">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">{{duration}}</p>
  </div>
  <div class="card-body">
    <a href="/recipe-details/{{_id}}" class="card-link">See more</a>
    <div class="dropdown">
	  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
		Add to callendar
	  </button>
    <form action="/planner" method="post">
	  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
		<li><a class="dropdown-item" value="monday" name="monday" href="#">Monday</a></li>
		<li><a class="dropdown-item" value="tuesday" name="tuesday" href="#">Tuesday</a></li>
		<li><a class="dropdown-item" value="wednesday" name="wednesday" href="#">Wednesday</a></li>
    <li><a class="dropdown-item" value="tuesday" name="tuesday" href="#">Thursday</a></li>
    <li><a class="dropdown-item" value="friday" name="friday" href="#">Friday</a></li>
    <li><a class="dropdown-item" value="saturday" name="saturday" href="#">Saturday</a></li>
    <li><a class="dropdown-item" value="sunday" name="sunday" href="#">Sunday</a></li>
	  </ul>
    </form>
	</div>
  </div>
</div>
{{/each}}
</div>