@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');

body {
  background-image: url("https://thumbs.dreamstime.com/b/greek-food-background-traditional-different-dishes-top-view-close-up-153149838.jpg");
 background-size: cover;
  font-family: 'Rajdhani', sans-serif;
  background-attachment: fixed;
}

.nav-link{
 color: rgb(255, 241, 189);
margin-left: 2vw;
}

h1{
    color:  rgba(163, 218, 141, 0.884);
    text-shadow: -1px 0 rgb(20, 99, 86), 0 2px rgb(20, 99, 86), 2px 0 rgb(20, 99, 86), 0 -1px rgb(20, 99, 86);
    font-weight: 600;
    font-size: 5em;
   
    margin-bottom: -5vh;
    margin-top: 5vh;
    text-align: center;
}


td {
  color: rgb(163, 218, 141);
  background-color: rgb(20, 99, 86);
  text-align: center;
  
  
}

table {
  table-layout: fixed;
  width: 95vw;
  height: 60vh;
  margin-left: 2.5vw;
  margin-top: 7vh;
  position:static;
  
}

.td1{
    font-size: 2em;
    background-color:rgb(163, 218, 141);
    color:rgb(20, 99, 86);
    border-radius: 10px;
    border-bottom: 4px dotted rgba(246, 239, 214, 0.662);
    border-right:4px dotted rgba(246, 239, 214, 0.662);
    border-left: 4px dotted rgba(246, 239, 214, 0.662);
}

.td2{
    
   color: rgb(255, 241, 189); 
    border-bottom: 4px dotted rgba(246, 239, 214, 0.662);
    border-right: 4px dotted rgba(246, 239, 214, 0.662);
    border-left:4px dotted rgba(246, 239, 214, 0.662) ;
    border-radius: 10px;
    max-width: 200px;
    max-height: auto;
    
    
}

button{
    position:relative;
    border: none;
    background-color: rgb(20, 99, 86);
    color:rgb(255, 241, 189);
     margin-left:10vw; 
     margin-right: -2v;   
     margin-top: 10vh; 
     margin-bottom: -3vh;
}

